@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

/* Start of navbar */
header {
    display: flex;
    width: 90%;
    margin-top: 15px;
    margin-left: 100px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.logo-container,
.nav-links {
    display: flex;
}

.logo {
    margin: 40px 10px;
    color: #e9474b;
    font-weight: 700;
    font-size: 20px;
}

.logo-container {
    flex: 1;
}

.logo-container img {
    width: 20%;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #e9474b;
    text-decoration: none;
    font-size: 18px;
}


@media only screen and (max-width: 800px) {
    nav ul {

        flex-direction: column;
        text-align: center;
        height: 230px;

    }
}

/* End of Navbar */


/* Start of Hero */
.preImage {
    width: 100%;
    height: 525px;
}

.presentation {
    margin-top: -12px;
}

.presentation-image {
    position: relative;
}

.presentation-text {
    position: absolute;
    bottom: 4px;
    right: 0px;
    background-color: #E9474B;
    color: white;
    padding: 25px;
    height: 525px;
}

.presentation-text input {
    padding: 15px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
}

.presentation-subText1 {
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
}

.presentation-subText2 {
    line-height: 25px;
}

.button {
    padding: 15px;
    margin-top: 25px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
}

/* End of Hero */

/* Filter Recipe CSS */

/***sectionOne : start ***/
.container__filterRecipe {
    background-color: #F6F6F6;
}


.container__accordian {
    padding: 20px 50px;
    margin: 0px 40px 0px 37px;
    display: flex;
    flex-direction: row;
}

.container__accordian h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}


.contentBx_list {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.contentBx_list div {
    flex: 1;
}

@media(max-width: 575px) {
    .contentBx_list div {
        flex: 100%;
    }
}

.contentBx_list label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.135px;
}

.search {
    padding: 40px 0px 0px 0px;
    margin-left: auto;
}

.search input {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 2px;

}


.checkbox input {
    position: relative;
    margin: 0px 10px 10px 0px;
}

.checkbox input::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s all ease;
}

.checkbox input:checked::before {
    background: #fff;
    border: 1px solid #fff;
}

.checkbox input:checked::after {
    position: absolute;
    content: "\2713";
    font-size: 15px;
    color: #000;
    font-weight: 700;
    bottom: 1.4px;
    top: -3.8px;
}



/*****collapse ***/

#collapse {
    background: #E9474B;
    color: #F6F6F6;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.135px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}

.plusSymbol::after {
    content: var(--content, "+");
    color: #fff;
    font-size: 20px;
}

.minusSymbol::after {
    content: var(--content, "-");
    color: #fff;
    font-size: 20px;
}


.contentBx_list h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    margin: 12px;
}

#contentBx {
    padding: 25px;
    display: none;
    overflow: hidden;
    background: #E9474B;
    color: #F6F6F6;
    transition: 0.5s;
    border-radius: 10px;
    position: absolute;
    top: 740px;
}

/* Start of food library/cards */
.main {
    margin-left: 95px;
}

.cards {
    width: 18%;
    display: grid;
    padding: 10px;
    margin-top: 60px;
    margin-left: 60px;
    display: inline-block;
    justify-content: center;
}

.cards:hover {
    background-color: #eeeeee;
    transform: scale(1.1);
}

.cardImage img {
    width: 100%;
    height: 250px;
}

.card-subhead {
    float: right;
    padding-right: 10px;
}

.return {
    font-weight: 600;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
    color: #e9474b;
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 800px) {
    div .cards {
        display: flexbox;
        flex-direction: row;
        height: auto;
        width: 100%;
        /* background-color: blue; */
    }
}

/* End of food library/cards */


/* Start of news letter */

.container__newsletter {
    background-color: #E9474B;
}

.container__newsletter__section {
    padding: 80px 50px;
    margin: 0px 40px 0px 37px;
    color: #fff;
}

.container__newsletter__section h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.52px;
    line-height: 46px;

}

.container__newsletter__section p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.23px;
    line-height: 26px;
    margin: 12px 0px;
}

@media(max-width:768px) {
    .container__newsletter__section h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .container__newsletter__section p {
        font-size: 15px;
    }
}

.form-userSignup ul {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    padding: 10px 0px;
}

.form-userSignup input {
    margin: 10px 71px 0px 0px;
    padding: 20px 95px 15px 30px;
    outline: none;
    border-radius: 4px;
    border: none;
    background: #F6F6F6;
    width: 325px;
}

.form-userSignup label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    line-height: 21px;
}

.form-userSignup input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #4A4A4A;
}

.add__button input[type="submit"] {
    background: transparent;
    padding: 12px 60px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 30px 0px 0px 16px;
    font-weight: 700;
    cursor: pointer !important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
}

.send__button {
    position: relative;
}

.send__button button {
    background: #fff;
    color: #4A4A4A;
    padding: 10px 35px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.23px;
    margin: 25px 0px 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user {
    border-bottom: 1.5px solid #fff;
}

.icon {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.234px;
    padding: 10px;
    margin: 20px 0px 0px 20px;
    cursor: pointer;
    position: relative;
    top: 2.5rem;
}

.icon i {
    margin-right: 12px;
}

/*End of newsletter */

/* Start of footer */
.footer-main {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    list-style: none
}

.card2 {
    margin: 15px;
    background: #fff;
    flex-basis: 33%;
    padding: 40px;
    color: #4a4a4a;
}

@media only screen and (max-width: 800px) {
    p {
        width: 100%;
    }
}

/* End of footer */